:root {
    --color-1: #0f1016;
    --text-color: #faf9f6;
    --accent-color: #FF796C;
}

blockquote {
    font-size: 2.45rem;
    padding-block-start: 10rem;
    font-weight: 500;
    padding-block-start: 4rem;
    padding-inline-start: 3rem;
    font-weight: 600;
}





@media (max-width: 500px) { 

}


/* .information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10rem;
    border-top: 2px solid #17064a;
    border-bottom: 2px solid #17064a;
    width: 100vw;
    /* can i combine border top and bottom into one? */

   /* p {
    padding: 4rem;
    border-left: 2px solid #17064a;
   } */
/* } */ 