/* :root{
    --bg-color: purple;
    --fg-color: beige;
    p, h1, h2, h3, blockquote {
        color: beige;
    }
} */



body{
    /* padding: 2.5rem; */
    /* background-color: var(--bg-color); */
}

