:root {
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    height: 60px;
    width: 100%;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    background-color: var(--accent-color);
}


header, nav {
    width: 100%;
    max-width: 100%;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #faf9f6;
    /* padding: 1.25rem; */
}


/* ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
    /* list-style: none; */
/* } */ 

h1 {
    text-align: center;
    font-size: 2.3rem;
    padding-block-start: 3rem;
    font-weight: 500;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.875rem;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    /* padding-block-end: 10rem; */
    
    .author {
        font-weight: 600;
    }

}

em {
    font-weight: 600;
    /* from a youtube video for the text highlight */
    background: linear-gradient(
        to bottom,
        transparent 40%,
        #fce041
    );
}

.reading {
    p {
        padding: 0;
        margin: 0 0 1.5rem;
        font-size: 1rem;
        line-height: 1.2rem;
    }
}


.test {
    background-color: blanchedalmond;
}


footer {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    gap: 0.5rem;
    margin-top: 2rem;
}




