:root {
    --color-1: #0f1016;
    --text-color: #faf9f6;
    --accent-color: #fce041;
}


.notes-reference {
    font-size: small;
    font-weight: bold;
    vertical-align: super;
}


@media (max-width: 500px) {
   
}



.test {
    background-color: blanchedalmond;
}







