:root {
    --color-1: #0f1016;
    --text-color: #faf9f6;
    --accent-color: #fce041;
    --footnote-color: #474747;
}



/* FOOTNOTES (THE NUMBERS THEMSELVES) */
/* FROM YOUTUBE */
.notes-reference {
    font-size: 1rem;
    font-weight: bold;
    /* vertical-align: super; */
    position: relative;
    top: -0.2rem;
    color: #e6b400;
    &:hover {
        color: var(--footnote-color);
        text-decoration: underline;
    }
}


/* ACCORDION DROP DOWN */
/* FROM MDN AND YOUTUBE */
#accordion {
    padding: 1rem 3rem 2rem 5rem;
    width: 100%; 
}

#accordion li{
    list-style: none;
    margin-bottom: 10px;
    width: 100%; 
    /* background: beige; */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--footnote-color);
    color: #474747;
}

#accordion li label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

#accordion li label span{
    font-size: 22px;
    color: var(--footnote-color);
}

#accordion label + input[type="accordion"] {
    display: none;
}

#accordion .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    p {
        font-size: 1rem;
        margin: 0;
        padding: 2% 0% 2% 6%;
    }
}

#accordion label + input[type="checkbox"]:checked + .content{
    max-height: 400px;
}

@media (min-width: 1350px) {
    .reading p {
        /* padding-inline-end: 30%; */
        max-width: 70ch;
    }

    .note {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: start;
        padding-inline-end: 6%;
        /* padding-inline-start: 4%; */
        /* padding-block-start: 4%; */
    }

    .notes-reference {
        font-size: 1rem;
        top: -0.75rem;
        font-weight: bold;
    }

    #accordion {
        margin-left: 0rem;
    }

    .note #accordion {
        position: sticky;
        top: 5rem;
        z-index: 1;
    }

    .note ul#accordion {
        margin-top: 2rem;
        /* omg, this took forever to figure out */
    }

    #accordion li{
        border-radius: 6px;
        border: 1px solid var(--footnote-color);
        padding: 0.4rem 1rem 0.7rem;
        &:hover {
            border: 1.5px solid var(--footnote-color);
        }
    }

    #accordion li label:hover {
        color: var(--color-1);
    }

    #accordion li span:hover {
        color: var(--color-1);
    }
}


@media (max-width: 1349px) {
     #accordion {
        padding: 0.875rem 1rem 2rem 4rem;
        width: 60%; 
        /* margin: 1rem; */
    }

    #accordion .content {
        p {
            margin: 0 2% 0 0;
            padding: 2% 0% 2% 6%;
        }
    }
}


 /* H1 FIXES */
@media (min-width: 1025px) and (max-width: 1072px) {
    h1{
        font-size: 6.5rem;
    }
}

@media (min-width: 769px) and (max-width: 965px) {
    h1{
        font-size: 5rem;
    }
}

@media (min-width: 690px) and (max-width: 768px) {
    h1{
        font-size: 4.5rem;
    }
}

@media (min-width: 501px) and (max-width: 689px) {
    h1 {
        font-size: 3.7rem;
    }
}

@media (max-width: 443px) {
    h1 {
        font-size: 2.9rem;
    }
}







/* MEDIA BREAKPOINT */
@media (max-width: 768px) {
    .notes-reference {
        font-size: 0.85rem;
    }

     #accordion {
        padding: 0.875rem 1rem 2rem 3rem;
        width: 60%; 
        /* margin: 1rem; */
    }
}


/* MEDIA BREAKPOINT */
@media (max-width: 500px) {
    #accordion {
        padding: 0.875rem 1rem 2rem 3rem;
        width: 70%; 
        /* margin: 1rem; */
    }
    
    #accordion .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        p {
            font-size: 0.8rem;
            margin: 0;
            padding: 0 0 1% 7%;
        }
    }
    
    .notes-reference {
        font-size: 0.75rem;
    }
    
}








