:root {
    --color-1: #0f1016;
    --text-color: #faf9f6;
    --accent-color: #fce041;
}



/* FOOTNOTES (THE NUMBERS THEMSELVES) */
/* FROM YOUTUBE */
.notes-reference {
    font-size: 1rem;
    font-weight: bold;
    vertical-align: super;
    color: #333;
    &:hover {
        color: #daa520;
    }
}


/* ACCORDION DROP DOWN */
/* FROM MDN AND YOUTUBE */
#accordion {
    padding: 1rem 3rem 2rem 5rem;
    width: 70%; 
}

#accordion li{
    list-style: none;
    margin-bottom: 10px;
    width: 100%; 
    /* background: beige; */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #0f1016;
}

#accordion li label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

#accordion li label span{
    font-size: 22px;
    color: var(--color-1);
}

#accordion label + input[type="radio"] {
    display: none;
}

#accordion .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    p {
        font-size: 1.2rem;
        margin: 0;
        padding: 2% 0% 2% 6%;
    }
}

#accordion label + input[type="checkbox"]:checked + .content{
    max-height: 400px;
}

 




@media (max-width: 500px) {
    #accordion {
        padding: 0.875rem 1rem 2rem 3rem;
        width: 80%; 
        /* margin: 1rem; */
    }

    #accordion .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        p {
            font-size: 1rem;
            margin: 0;
            padding: 0 0 1% 7%;
        }
    }

    #accordion li {
        /* padding: 0; */
    }
   
}









