
*, *::after, *::before {
    box-sizing: border-box;

}



:root {
    background-color: black;
    color: #E6E5CE;
    font-family: 'Futura';
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #E6E5CE;
    --background: red;
    --hamburger-margin: 50px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) *1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content; 
    position: fixed;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 3;
    cursor: pointer;
}


.hamburger-menu:has(input:checked) {
    --foreground: red;
    --background: red;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: 
        opacity var(--animation-timing), 
        width var(--animation-timing), 
        rotate var(--animation-timing), 
        translate var(--animation-timing), 
        background-color var(--animation-timing);

}



.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -1);
}
.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}


.sidebar {
    position: fixed;
    inset: 0 0 0 0;
    transition: translate var(--animation-timing);
    translate: -150% 0;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 15rem;
    min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0 0;
}


h1 {
    font-weight: 800;
    text-align: center;
    line-height: 1;
}

.topheader {
        padding-block-start: 20rem;   
        font-size: 6.3rem;
        padding-block-end: 5rem;
    }

    .bottomheader {
        font-size: 20rem;
        letter-spacing: 1rem;
        padding-block-end: 3rem;
        transform: scale(1,1.3);
        padding-block-end: 15rem;
        color: red;
    }







body {
    margin: 0;
}