:root {
    --color-1: #0f1016;
    --text-color: #faf9f6;
    --accent-color: #006aff;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    height: 60px;
    /* background-color: var(--color-1); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 20; */
}



/* EVERYTHING BELOW IS FROM A YOUTUBE VIDEO ON NAVS, I USED TWO TO COMBINE THE NAV ANIMATION, AND THEN ANOTHER TO CHANGE THE BACKGROUND TO A BLUR EFFECT*/


/* NAV BAR */
.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 20px; */
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-1);
}

nav a:hover {
    background-color: var(--accent-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

@media (max-width: 450px) {
    .links-container{
        /* display: none; */
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        /* background-color: var(--text-color); */
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
        transition: 0.75s ease-out;
    }
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        /* display: flex; */
        right: 0;
    }
    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}









body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #faf9f6;
    /* padding: 1.25rem; */
}


/* ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
    /* list-style: none; */
/* } */ 

h1 {
    text-align: center;
    font-size: 2.3rem;
    padding-block-start: 3rem;
    font-weight: 500;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.875rem;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    /* padding-block-end: 10rem; */
    
    .author {
        font-weight: 600;
    }

}

em {
    font-weight: 600;
    /* from a youtube video for the text highlight */
    background: linear-gradient(
        to bottom,
        transparent 40%,
        #fce041);
}

.reading {
    p {
        padding: 0;
        margin: 0 0 1.5rem;
        font-size: 1rem;
        line-height: 1.2rem;
    }
}


.test {
    background-color: blanchedalmond;
}


footer {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    gap: 0.5rem;
    margin-top: 2rem;
}




