body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #faf9f6;
    padding: 1.25rem;
}


ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
    /* list-style: none; */
}

h1 {
    text-align: center;
    font-size: 2.3rem;
    padding-block-start: 3rem;
    font-weight: 500;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.875rem;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    /* padding-block-end: 10rem; */
    
    .author {
        font-weight: 600;
    }

}

em {
    font-weight: 600;
    /* from a youtube video for the text highlight */
    background: linear-gradient(
        to bottom,
        transparent 40%,
        #fce041
    );
}

.reading {
    p {
        padding: 0;
        margin: 0 0 1.5rem;
        font-size: 1rem;
        line-height: 1.2rem;
    }
}


.test {
    background-color: blanchedalmond;
}


footer {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    gap: 0.5rem;
    margin-top: 2rem;
}




