:root {
    --color-1: #0f1016;
    --text-color: #faf9f6;
    --accent-color: #FF796C;
}

h3 {
    font-size: 2.45rem;
    padding-block-start: 10rem;
    font-weight: 500;
    padding-block-start: 4rem;
    padding-inline-start: 3rem;
    font-weight: 600;
}


#drop-down {
    padding-inline-start: 3rem;
    width: 90%; 
}

#drop-down li {
    list-style: none;
    margin-block-end: 3rem;
}


#drop-down li label {
    padding-block-end: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 2.45rem;
    font-weight: 600;

    &:hover {
        color: var(--accent-color);
    }
}

/* .footnotes-2 {
    position: sticky;
} */

#drop-down .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

#drop-down .content p {
    padding: 0;
    margin: 0;
    padding-block-end: 6rem;
}

#drop-down li input[type="checkbox"] {
    display: none;
}


#drop-down li label .arrow{
    font-size: 2rem;
    color: var(--footnote-color);
    padding-inline-end: 25rem;
    /* rotate: 180deg; */
}


#drop-down li input[type="checkbox"]:checked ~ .content{
    max-height: 1500px;
}

#drop-down li label input[type="checkbox"]:checked + label .arrow{
    /* rotate: 180deg; */
    transition: 0.4s ease-out;
}





@media (min-width: 1350px) {
    .reading-container {
        /* display: grid; */
        /* grid-template-columns: 3fr 1fr; */
        align-items: start;
    }

    .reading p {
        max-width: 60ch;
        font-size: 2rem;
    }

    .footnotes-2 {
        font-size: 1.5rem;
        margin-inline-start: 5rem;
        /* position: grid; */
        /* align-items: flex-end; */
        /* position: sticky;  */
        /* justify-content: end; */
        /* top: 6rem; */ 
        /* align-items: flex-end; */
        /* height: fit-content; */
        /* position: top; */
    }

    .footnotes {
        position: sticky;
    }


}
@media (max-width: 500px) {
    
}
