:root {
    --color-1: #0f1016;
    --text-color: #faf9f6;
    --accent-color: #FF796C;
}

h3 {
    font-size: 2.45rem;
    padding-block-start: 10rem;
    font-weight: 500;
    padding-block-start: 4rem;
    padding-inline-start: 3rem;
    font-weight: 600;
}



#accordion {
    padding: 1rem 3rem 2rem 5rem;
    width: 100%; 
}

#accordion li{
    list-style: none;
    margin-bottom: 10px;
    width: 100%; 
    /* background: beige; */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--footnote-color);
    color: #474747;
}



@media (max-width: 500px) {
    
}
