:root {
    --color-1: #0f1016;
    --text-color: #faf9f6;
    --accent-color: #FF796C;
}

h3 {
    font-size: 2.45rem;
    padding-block-start: 10rem;
    font-weight: 500;
    padding-block-start: 4rem;
    padding-inline-start: 3rem;
    font-weight: 600;
}


#drop-down {
    padding-inline-start: 3rem;
    width: 90%; 
}

#drop-down li {
    list-style: none;
    margin-block-end: 3rem;
}


#drop-down li label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 2.45rem;
    font-weight: 600;
    width: 100%;
    gap: 1rem;

    &:hover {
        color: var(--accent-color);
    }
}


#drop-down .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    padding-block-start: 2rem;
}

#drop-down .content p {
    padding: 0;
    margin: 0;
    padding-block-end: 6rem;
}

#drop-down li input[type="checkbox"] {
    display: none;
}

#drop-down li label .arrow{
    font-size: 2rem;
    color: var(--footnote-color);
    transform-origin: center;
}

#drop-down li input[type="checkbox"]:checked + .content{
    max-height: 2000px;
}

#drop-down li label input[type="checkbox"]:checked ~ label .arrow{
    transform: rotate(180deg);
}

.footnotes-2 {
    position: sticky;
    top: 8rem;
    align-self: start;
    background: var(--accent-color);
    border: 1.5px solid #0f1016;
    padding: 1.5rem;
    margin-inline-start: 1rem;
    border-radius: 6px;
    width: 75%;
    font-size: 1rem;
    /* padding-inline-start: 1rem; */

    h4 {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .arrow {
        /* margin-left: auto;
        align-items: flex-end; */
        margin-inline-start: 4rem;
        transform-origin: center;
    }

    ol {
        list-style-position: outside;
        padding: 0.875rem 1rem;
    }
}


/* H1 FIXES */
@media (min-width: 1431px) and (max-width: 1550px) {
    h1 {
        font-size: 7.4rem;
    }
} 

@media (min-width: 1349px) and (max-width: 1430px) {
    h1 {
        font-size: 7rem;
    }
} 

@media (min-width: 1022px) and (max-width: 1327px) {
    h1 {
        font-size: 6.5rem;
    }
} 

@media (min-width: 818px) and (max-width: 1021px) {
    h1{
        font-size: 5rem;
    }
}

@media (min-width: 715px) and (max-width: 817px) {
    h1{
        font-size: 4rem;
    }
}

@media (min-width: 613px) and (max-width: 714px) {
    h1{
        font-size: 3.5rem;
    }
}

@media (min-width: 501px) and (max-width: 612px) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.7rem;
    }
}



@media (min-width: 1350px) {
    .reading p {
        max-width: 58ch;
        font-size: 2rem;
    }

    .footnotes-2 p {
        /* padding-inline-end: 24rem; */
        font-size: 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        /* flex-direction: row-reverse; */

    }
    .footnotes-2 {
        /* order: 1; */
        position: sticky;
        top: 8rem;
    }
}

@media (max-width: 1349px) {
    .footnotes-2 {
    width: 35%;
    margin-inline-start: 5rem;
    font-size: 1rem;
    /* max-width: none; */

    h4 {
        font-size: 1.3rem;
        padding-block-end: 0;
        /* margin-inline-end: 1rem; */
    }

    .arrow {
        /* margin-right: auto; */
        /* align-items: flex-end;  */
        /* margin-inline-start: 10rem; */
        transform-origin: center;
    }

    ol {
        /* list-style-position: outside; */
        padding: 0.875rem 1rem;
    }
}
}

@media (max-width: 768px) {
    #drop-down li label {
        font-size: 1.8rem;
        gap: 0.5rem;
        
    }

    #drop-down li label .arrow{
        font-size: 1.5rem;
        color: var(--footnote-color);
        margin-inline-start: 0.6rem;
    }

    .reading p {
        font-size: 1.1rem;
        line-height: 1.28rem;
    }

    #drop-down .content {
        padding-block-start: 0.25rem;
    }

    #drop-down .content p {
        margin-block-end: 2rem;
        padding: 0.75rem 0 0.75rem 0;
    }

    .footnotes-2 {
    width: 45%;
    margin-inline-start: 5rem;
    font-size: 1rem;
    /* max-width: none; */

    h4 {
        font-size: 1.3rem;
        /* margin-inline-end: 1rem; */
    }

    .arrow {
        margin-right: auto;
        /* align-items: flex-end;  */
        /* margin-inline-start: 10rem; */
        /* transform-origin: center; */
    }

    ol {
        /* list-style-position: outside; */
        padding: 0.875rem 1rem;
    }
}
}



@media (max-width: 500px) {
    #drop-down li label {
        font-size: 1.4rem;
        gap: 0.5rem;
        
    }

    #drop-down li label .arrow{
        font-size: 1.2rem;
        margin-inline-start: 0.6rem;
    }

    .reading p {
        font-size: 0.95rem;
        line-height: 1.15rem;
    }

    #drop-down .content {
        padding-block-start: 0.5rem;
    }

    #drop-down .content p {
        padding-block-end: 2rem;
        padding: 0.75rem 0 0.75rem 0;
    }


    .footnotes-2 {
    width: 60%;
    margin-inline-start: 4rem;
    font-size: 1rem;
    /* max-width: none; */

    h4 {
        font-size: 0.9rem;
    }

    .arrow {
        margin-right: auto;
        /* align-items: flex-end;  */
        /* margin-inline-start: 10rem; */
        /* transform-origin: center; */
    }

    ol {
        /* list-style-position: outside; */
        padding: 0.875rem 1rem
    }
}
    
}
