:root {
    --color-1: #0f1016;
    --text-color: #faf9f6;
    --accent-color: #FF796C;
}

h3 {
    font-size: 2.45rem;
    padding-block-start: 10rem;
    font-weight: 500;
    padding-block-start: 4rem;
    padding-inline-start: 3rem;
    font-weight: 600;
}



#drop-down {
    padding-inline-start: 3rem;
    width: 90%; 
}

/* #drop-down .first {
    font-size: large;
} */

#drop-down li label {
    /* padding-inline-start: 3rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 2.45rem;
    font-weight: 600;
}


#drop-down .content {
    p {
        /* font-size: 1rem; */
        /* margin: 0; */
        /* padding: 2% 0% 2% 6%; */
        /* padding-inline-start: 3rem; */
        padding: 0;
        margin: 0;
    }
}


#drop-down li label span{
    font-size: 2rem;
    color: var(--footnote-color);
    padding-inline-end: 3rem;
}


@media (max-width: 500px) {
    
}
