:root {
    --color-1: #0f1016;
    --text-color: #faf9f6;
    --accent-color: #FF796C;
}

h3 {
    font-size: 2.45rem;
    padding-block-start: 10rem;
    font-weight: 500;
    padding-block-start: 4rem;
    padding-inline-start: 3rem;
    font-weight: 600;
}



#drop-down {
    padding-inline-start: 3rem;
    width: 90%; 
}

#drop-down li {
    list-style: none;
    margin-block-end: 3rem;
}


#drop-down li label {
    padding-block-end: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 2.45rem;
    font-weight: 600;
}


#drop-down .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

#drop-down .content p {
    padding: 0;
    margin: 0;
    padding-block-end: 6rem;
}

#drop-down li input[type="checkbox"] {
    display: none;
}


#drop-down li label .arrow{
    font-size: 2rem;
    color: var(--footnote-color);
    padding-inline-end: 3rem;
    /* rotate: 180deg; */
}


#drop-down li input[type="checkbox"]:checked ~ .content{
    max-height: 1200px;
}

#drop-down li label input[type="checkbox"]:checked + label .arrow{
    /* rotate: 180deg; */
    transition: 0.4s ease-out;
}

@media (max-width: 500px) {
    
}
