body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #faf9f6;
}

ol {
    display: flex;
    justify-content: space-around;
    /* padding-block-end: 10rem; */

}

h1 {
    text-align: center;
    font-size: 10rem;
    padding-block-start: 10rem;
    font-weight: 500;
}

.information {
    display: flex;
    justify-content: space-around;
    padding-block-end: 10rem;
    
    .author {
        font-weight: 600;
    }

}

em {
    font-weight: 600;
    background: linear-gradient(
        to bottom,
        transparent 40%,
        #fce041
    );
}

.reading {
    p {
        padding: 3rem;
        font-size: 2rem;
    }
}


.test {
    background-color: blanchedalmond;
}